.main-header {
    width: 100%;
}

.main-nav {
    float: left;
    width: 780px;
    min-height: 73px;
}

.main-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
    /*text-align: center;*/
}

.main-nav ul li {
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
    display: inline-block;
}

.main-nav ul li a {
    display: block;
    color: #fff;
    padding: 25px 35px;
    /*margin-right: 35px;*/
    text-decoration: none;

    &.active {
      border-bottom: 3px solid #fff;
    }
}

.main-nav ul li a:hover {
    background: #242424;
}

.login {
    position: relative;
    float: right;
    /*display: inline-block;*/
    font-size: 16px;
    line-height: 20px;
    max-width: 140px;
    /*min-height: 70px;*/
    padding: 25px 25px;
}

.login::after {
    position: absolute;
    content: "";
    top: 28px;
    left: 0px;
    display: inline-block;
    width: 18px;
    height: 16px;
    background: url('./assets/login.png');
    /*background: red;*/
    opacity: .3;
}

.login:hover {
    background: #242424;
}

.login:hover::after {
    opacity: 1;
}

.main-header {
    margin-bottom: 50px;
    background: #000;
}